* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Roboto', sans-serif;
}

header {
    top: 0;
    background:#fff;
    height: 80px;
    padding: 0 30px;   

}

header .container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items:center;
    
}

header .brand {
    display: flex;
    flex-direction: row;
    align-items:center;
    gap: 10px;
}

header .brand img {
    width: 200px;
}

header .brand h6 {
    font-size: 24px;
    color: #01528A;
    font-weight: 600;
    line-height: 30px;
    
}
header ul{
    display: flex;
    flex-direction: row;
    list-style-type: none;
    gap: 35px;
    
}
header ul li {
    font-weight: 450;
    line-height: 10px;
}
header li a {
    text-decoration:none;
    color: #01528A;
    padding-bottom: 10px;
}
header li a:hover,
header li a.active{
    color: #0889d4;
}
header li a.active{
    font-weight: 400;
    border-bottom: 2px solid #0889d4;
}
header li button{
    background-color: #01528A;
    color: #fff;
    border: none;
    text-transform: uppercase;
    font-weight: 400;
    font-size: 14px;
    padding: 8px 20px;
    border-radius: 4px;
    margin-left: 16px;
    line-height: 20px;
    
}


main{
    margin: 32px 0;
}
main h2{
    margin: 32px 0;
    font-weight: 350;
    font-size: 36px;
    line-height: 56px;
    text-align: center;
    color: #01528A;
}
section{
    margin-top: 40px;
}
#banner{
    height: 470px;
    border: 1px solid #dcdceb;
    border-radius: 10px;
    color: #01528a;
    background-image: url('../Img/Loja_uni03.png');
    background-repeat: no-repeat;
    background-position: right;
}
#banner h1{
    margin: 60px 0 0 30px;
    font-weight: 350;
    font-size: 50px;
    color: #01528A;
    text-align: left;
}
#banner h3{
    margin-top: 5px;
    margin-left: 30px;
    font-weight: 350;
    font-size: 50px;
    color: #01528A;
    text-align: left;
}
#cards .cards-content{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    
}
#cards .card{
    width: 530px;
    display: flex;
    flex-direction: row;
    gap: 16px;
    box-shadow: rgb(0 0 0 / 20%) 0px 2px 1px -1px, rgb(0 0 0 / 14%) 0px 1px 1px 0px, rgb(0 0 0 / 12%) 0px 1px 3px 0px;
    border-radius: 10px;
    padding: 20px;
    margin-bottom: 48px;
    position: relative;
}
#cards .card img{
    width: 420px;
    height: 420px;
}
#cards .card h4{
    margin-bottom: 12px;
    color: #01528A;
    font-size: 20px;
    text-align: justify;
    font-size: 20px;
    font-weight: 400;
}
#cards .card p{
    margin-bottom: 12px;
    color:black;
    font-size: 15px;
    text-align: justify;
    font-weight: 300;
    overflow:hidden;
    
}
#cards .card .card-price{
    position: absolute;
    display: flex;
    justify-content: end;
    right: 20px;
    bottom: 0px;
}
#cards .card-price p{
    background-color: #01528A;
    color: #fff;
    font-size: 14px;
    border-radius: 4px;
    padding: 8px 16px;
}
#cupons{
    margin-top: 0;
    
}
#cupons .cupons-content{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 24px;
    margin-bottom: 24px;

}
#cupons .cupom p{
    color: #01528A;
    font-size: 20px;
    text-align: center;
    font-size: 24px;
    font-weight: 300;
    margin-bottom: 8px;
}
#cupons .cupons-content .cupom{
    width: 100%;
    border: 1.5px solid #dcdceb;
    border-radius: 16px;
    padding: 20px;
    color: #01528A;
    font-size: 20px;
    text-align: center;
}
#e_commerce .ecommerce-content{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 24px;
    margin-bottom: 24px;
}
#e_commerce .ecommerce{
    width: 100%;
    border: 1.5px solid #dcdceb;
    border-radius: 16px;
    padding: 20px;
    color: #01528A;
    font-size: 20px;
    text-align: center;
}
#e_commerce .ecommerce h5{
    font-size: 24px;
    font-weight: 300;
    margin-bottom: 8px;
}
#e_commerce .ecommerce p{
    font-size: 15px;
    font-weight: 300;
}
#values .values-conteiner{
    display: flex;
    flex-direction: row;
    gap: 24px;
    height: 350px;
}
#values .values-content p{
    font-size: 14px;
    font-weight: 300;
    text-align: justify;
    padding-right: 40px;
}
footer {
    background-color: #01528A;
    color: #fff;
    margin-top: 48px;
    padding: 48px 0;
    background-image: url(../Img/Loja_brancoo.png);
    background-repeat: no-repeat;
    background-position: left;
    background-size: 200px;
    background-position-y: bottom;  
}
footer .container{
    display: flex;
    flex-direction: column;
    gap: 16px;
}
footer .footer-content{
    display: flex;
    flex-direction: row;
    justify-content: space-between;

}
footer .footer-menu p{
    font-weight: 300;
    font-size: 14px;
}
footer .footer-menu-title {
    font-weight: 400;
    font-size: 16px;
    padding-left: 20px;
    padding-right: 20px;
}
footer .footer-menu ul{
    list-style-type: none;
    margin-top: 16px;
    padding-left: 20px;
    padding-right: 20px;
}
footer .footer-menu li{
    margin-bottom: 8px;
}
footer .footer-menu a{
    color: #fff;
    text-decoration: none;
}
footer .footer-menu a:hover{
    text-decoration: underline;
}
footer .footer-social{
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding-top: 24px;
}
footer .footer-social span{
    background-repeat: no-repeat;
    background-position: center;
    padding: 16px;
}
footer .footer-social .facebook{
    background-image: url(../img/icon-facebook.svg);
}
footer .footer-social .instagram{
    background-image: url(../img/icon-instagram.svg);
}
footer .footer-social .linkedin{
    background-image: url(../img/icon-linkedin.svg);
}
footer .footer-social .twitter{
    background-image: url(../img/icon-twitter.svg);
}
footer .footer-copyright{
    text-align: center;
    font-weight: 300;
    font-size: 10px;
}
