#e_commerce .ecommerce-content{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 24px;
    margin-bottom: 24px;
}
#e_commerce .ecommerce{
    width: 100%;
    border: 1.5px solid #dcdceb;
    border-radius: 16px;
    padding: 20px;
    color: #01528A;
    font-size: 20px;
    text-align: center;
}
#e_commerce .ecommerce h5{
    font-size: 24px;
    font-weight: 300;
    margin-bottom: 8px;
}
#e_commerce .ecommerce p{
    font-size: 15px;
    font-weight: 300;
}